<section class="week">
  <h2>Day 1</h2>
  <div class="row remove-overflow-y">

    <div class="monday day">
        <h3 class="day-header">Monday</h3>
        <div class="text-block">
          <ul>
            <li>Lorem ipsum</li>
            <li>Lorem ipsum</li>
            <li>Lorem ipsum</li>
            <li>Lorem ipsum</li>
            <li>Lorem ipsum</li>
            <li>Lorem ipsum</li><li>Lorem ipsum</li>
            <li>Lorem ipsum</li>
          </ul>
        </div>
    <button class="btn">Add a event</button>
    </div>
    <div class="tuesday day">
            <h3 class="day-header">Tuesday</h3>
            <div class="text-block">
              <ul>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li><li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
              </ul>
            </div>
            <button class="btn">Add a event</button>
    </div>
    <div class="wednesday day">
            <h3 class="day-header">Wednesday</h3>
            <div class="text-block">
              <ul>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>

              </ul>
            </div>
            <button class="btn">Add a event</button>
    </div>

  </div>

  <div class="row remove-overflow-y">
    <div class="thursday day">
            <h3 class="day-header">Thursday</h3>
            <button class="btn">Add a event</button>
    </div>
    <div class="friday day">
            <h3 class="day-header">Friday</h3>
            <div class="text-block">
              <ul>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li><li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
              </ul>
            </div>
            <button class="btn">Add a event</button>
    </div>

    <div class="saturday day">
            <h3 class="day-header">Saturday</h3>
            <button class="btn">Add a event</button>
    </div>
  </div>


  <div class="row remove-overflow-y">
    <div class="sunday day">
            <h3 class="day-header">Sunday</h3>
            <button class="btn">Add a event</button>
    </div>
  </div>


</section>
